* {
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'Super Mario 256';
    src: url('fonts/SuperMario256.ttf') format('truetype');
}
  body,html{
    height: 100vh;
  }  

  body {
    font-family: 'Super Mario 256', sans-serif; /* Use Super Mario 256 como fonte padrão */
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1; 
  }

  .main{
    width:550px;
    margin: auto;
  }
  .super-mario-text {
    font-family: 'Super Mario 256', sans-serif;
    font-weight: normal; /* Ajuste o peso conforme necessário */
    text-transform: uppercase; /* Converta o texto em maiúsculas */
    letter-spacing: -1px; /* Ajuste o espaçamento entre letras */
    color: #fff; /* Cor do texto */
    
  }
.sombra{
    text-shadow:  5px 5px 0 #000; /* Adiciona um sombreamento para criar efeito de profundidade */
}

.contorno{
    -webkit-text-stroke: 2px black; /* Adiciona um contorno preto ao redor do texto */
    text-stroke: 2px black;
}

.contorno_leve{
    -webkit-text-stroke: 1px black; /* Adiciona um contorno preto ao redor do texto */
    text-stroke: 1x black;
}

.center{
    text-align: center;
}

/* Cores  */
.blue{
color: #009CDA;
}
.green{
 color:#42B132;
}
.red{
    color: #E71E07;
}
.yellow{
    color: #FCD000;
}
.grey1{
  background-color:#aaa;
}
.grey2{
  background-color:#bbb;
}
.grey3{
  background-color:#ccc;
}
.grey4{
  background-color:#DDD
}
/* Fim da cores */


  /* Style the header */
  .header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    width: 300px;
  }
  
  /* Left and right column */
  .column40 {
    width: 40%;
  }
  .column60 {
    width: 60%;
  }
  .column100{
    width: 100%;
  }
  .h20{
    height:20%;
  }

  .h45{
    height:45%;
  }
  .hl{
    height: 200px;
  }
  .hm{
    height: 310px;
  }
  .hg{
    height: 360px;
  }

  
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  .footer {
    
    padding: 10px;
    text-align: center;
  }
  
 


  button{
    background:#aaa;
    color:#fff;
    border:none;
    position:relative;
    height:25px;
    width:100%;
    font-size:1.2em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:#000;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #000;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  
  .container {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center;
  }

.text {
    margin-right: 10px; /* Espaço à direita do texto */
}

  /* */
  :root {
    --card-height: 100%;
    --card-width: calc(var(--card-height) / 2);
  }
  
  .card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
  }
  
  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    
  }
  
  .wrapper::before,
  .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
  }
  .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
     
    );
  }
  .wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
     
    );
  }
  
  .card:hover .wrapper::before,
  .wrapper::after {
    opacity: 1;
  }
  
  .card:hover .wrapper::after {
    height: 120px;
  }
  .title {
    width: 100%;
    transition: transform 0.5s;
  }
  .card:hover .title {
    transform: translate3d(0%, -50px, 100px);
  }
  
  .character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }
  
  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }